{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block tittle %}
    {% endblock %}
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключение стилей -->
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
<div class="container d-flex">
    {% include 'main/nav.html' %}
    <main class="mt-5">
        {% block content %}
        {% endblock %}
    </main>
</div>
    {% include 'main/footer.html' %}
</body>
</html>
